<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layouts/fragments/head :: headFragment"></th:block>
<body id="page-top">
<div id="wrapper">
  <header th:replace="layouts/fragments/top :: topFragment"></header>
  <div id="content-wrapper" class="d-flex flex-column">
    <th:block layout:fragment="content"></th:block>
  </div>
  <footer th:replace="layouts/fragments/footer :: footerFragment"></footer>
</div>
</body>
</html>
