<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layou">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <!-- 공통으로 쓰이는 js 파일을 넣는다.-->
<!--  <script th:src="@{js/jquery-3.6.0.min.js}"></script>-->
  <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<header th:replace="/layouts/fragments/header :: headerFragment"></header>
<!--<div layout:fragment="content"></div>-->
<th:block layout:fragment="content"></th:block>
<footer th:replace="/layouts/fragments/footer :: footerFragment"></footer>
</body>
</html>
