<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">이름</th>
      <th scope="col">이메일</th>
      <th scope="col">가입일</th>
      <th scope="col">상태</th>
      <th scope="col">삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${memberInfo}">
      <td>
        <a th:text="${m.id}" th:href="@{/member/{id}(id=${m.id})}">1</a>
      </td>
      <td>
        <a th:text="${m.name}" th:href="@{/member/{id}(id=${m.id})}">Mark</a>
      </td>
      <td th:text="${m.email}">abc@email.com</td>
      <td th:text="${#temporals.format(m.joinDate, 'yyyy-MM-dd HH:mm:ss')}">2022-10-10</td>
      <td th:text="${m.status}">normal</td>
      <td><button type="button" th:onclick="|location.href='@{/admin/members/delete(id=${m.id})}'|">삭제</button> </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</th:block>
</html>
