<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="topFragment">
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 200px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Kenux Toy Project</h1>
          <h4 class="mb-3">내 장난감</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- TODO: 관리자 / 회원에 따라 메뉴 다르게 해야 한다. 2022-12-13 -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div style="float: left; width: 70%;">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/board">Board</a>
            <a class="nav-link" href="/test">테스트</a>
            <a class="nav-link" href="/admin/members" sec:authorize="hasRole('ADMIN')">회원관리</a>
          </div>
        </div>
        <div style="float: right; width: 30%;">
          <div class="navbar-nav">
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
            <a class="nav-link" href="/join">회원가입</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</th:block>
</html>
