<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/favicon.ico">
  <title>frontend</title>
<!--  <script defer="defer" src="/js/chunk-vendors.83b0e578.js"></script>-->
<!--  <script defer="defer" src="/js/app.60d20169.js"></script>-->
<!--  <link href="/css/app.127d95a2.css" rel="stylesheet">-->
</head>
<body>
<div>
  <h1>Main page</h1>
</div>
<a href="/member">member</a> |
<a href="/test">test</a> |
<a href="/login">login</a> |
<a href="/logout">logout</a>
<!--<div id="app"></div>-->
</body>
</html>
