<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <form action="#" method="post" th:action="@{/member/{id}(id=${memberInfo.id})}" th:object="${modifyRequest}">
    <div class="mb-3">
      <label for="inputName" class="form-label" th:text="#{member.name}">이름: </label>
      <input type="text" class="form-control" id="inputName" required th:field="${memberInfo.name}">
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label" th:text="#{member.email}">이메일: </label>
      <input type="email" class="form-control" id="inputEmail" required th:field="${memberInfo.email}">
    </div>
    <div class="mb-3">
      <label for="statusText" class="form-label" th:text="#{member.status}">상태: </label>
      <p id="statusText" th:text="${memberInfo.status}">상태</p>
    </div>

    <button type="submit" class="btn btn-primary" th:text="#{save}">Submit</button>
    <button type="button" class="btn btn-primary" th:text="#{move.back}">Submit</button>
  </form>
</th:block>
</html>
