<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
  <div class="bg-light">
    <h1>타임리프 테스트 페이지</h1>
    <p>안녕하세요.</p>
    <ul>
      <li>th:text 사용 <span th:text="${data}">aaaa</span></li>
      <li>th:utext 사용 <span th:utext="${data1}">aaaa</span></li>
      <li>컨텐츠 안에서 직접 출력하기 = [[${data}]]</li>
    </ul>
  </div>
</th:block>
</html>
